
<h1>Posts</h1>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholer: 'title' %><br><br>
    <%= f.label :body %>
    <%= f.text_area :body, placeholer: 'body' %><br><br>
    <%= f.submit 'submit' %>
<% end %>

<%if current_user %>
    <%= link_to 'Sign out', destroy_user_session_path(current_user), method: :delete %>
<% else %>
    <%= link_to 'Sign in', new_user_session_path  %>
<% end %>